@keyframes colorAnim {
    from {
        background-color: red;
    }

    10% {
        background-color: yellow;
    }

    20% {
        background-color: green;
    }

    30% {
        background-color: rgb(67, 43, 226);
    }

    40% {
        background-color: rgb(226, 43, 76);
    }

    50% {
        background-color: rgb(86, 226, 43);
    }

    60% {
        background-color: rgb(43, 226, 217);
    }

    70% {
        background-color: rgb(140, 146, 15);
    }

    80% {
        background-color: rgb(198, 226, 43);
    }
    
    90% {
        background-color: blueviolet;
    }

    to {
        background-color: blue;
    }
}



div {
    width: 100px;
    height: 100px;
    margin: 40px 30px;
    border: 1px solid #ccc;

    background-color: #ccc;
    
}

div:hover {
    animation-name: colorAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}